html,body{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
}

header{
    background-color:whitesmoke;
    padding:10px;
}

li{
    list-style-type: none;
    padding: 0 25px 0 25px;
    display: inline;
}

a{
    color:black;
    text-decoration: none;
}

.move-right{
    float:right;
}

#page-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

#page-container > div{
    display:flex;
    flex-direction: column;
    margin: 15px;
}

.btn-side-by-side{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.btn-side-by-side > button{
    width: 45%;
    padding:10px;
    margin:10px;
}

.artist-page-li{
    font-size:64px;
    font-family: "Helvetica Now";
    margin:10px;
}