html,body{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    /* display:flex;
    flex-direction:column;
    align-content:center; */
}

header{
    background-color:whitesmoke;
    padding:10px;
    position: sticky;
}

li{
    list-style-type: none;
    padding: 0 25px 0 25px;
    display: inline;
}

a{
    color:black;
    text-decoration: none;
}

.move-right{
    float:right;
}

#page-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 15px; */
}

.artist-page-images{
    display:flex;
    flex-direction: column;
    margin: 15px;
}

#page-container > div{
    display:flex;
    flex-direction: column;
    margin: 15px;
}


.btn-side-by-side{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.btn-side-by-side > button{
    width: 45%;
    padding:10px;
    margin:10px;
}

.artist-page-li{
    font-size:50px;
    font-family: "Helvetica Now";
    margin:10px;
    transition: 1s;
}

.artist-page-li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.show-me{
    display:none;
}

.artist-image-resize{
    height: 400px;
    width: auto;
}

#login-form{
    padding:20px;
    margin-top:40px;
    border:double black;
    background-color: floralwhite;
    
}

#login-form > label,input {
    margin:15px 0 10px 0;
}

.logOutBtn{
    padding:10px;
    background-color:firebrick;
    color:white;
    border: solid firebrick;
    border-radius: 15%;
}

.logOutBtn:hover{
    color:red;
    background-color: white;
    cursor: pointer;
}

.delete-btn{
    padding:10px;
    margin:5px;
}

