html,body{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    /* display:flex;
    flex-direction:column;
    align-content:center; */
}

header{
    background-color:whitesmoke;
    padding:10px;
    position: sticky;
}

#gallery{
    font-family: "Charm", sans-serif;
    font-size: 25px;
    color: #b58d20;
}

li{
    list-style-type: none;
    padding: 0 25px 0 10px;
    display: inline;
}

a{
    color:black;
    text-decoration: none;
}

.move-right{
    float:right;
}

#page-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 15px; */
}

.artist-page-images{
    display:flex;
    flex-direction: column;
    margin: 15px;
}

#page-container > div{
    display:flex;
    flex-direction: column;
    margin: 15px;
}

.big-on-hover{
    transition: transform 1.5s;
}

.big-on-hover:hover{
    transform: scale(1.1, 1.1);
}

.side-by-side{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.fav{
    padding:10px;
    margin:10px;
    font-size:20px;
}

.artist-page-li{
    font-size:50px;
    font-family: "Helvetica Now";
    color:rgb(141, 137, 137);
    margin:10px;
    transition: 1s;
}

.artist-page-li:hover{
    color:black;
    cursor: pointer;
}

.show-me{
    display:none;
}

.artist-image-resize{
    height: 400px;
    width: auto;
}

/*Annie Suggestion*/
.alternative{
    max-width: 10vw;
    height:auto;
}

#login-form{
    padding:50px;
    margin-top:70px;
    border:double black;
    background-color: floralwhite;
    
}

#login-form > label,input {
    margin:15px 0 10px 0;
}

.submit-button{
    background-color: #b58d20;
    color: white;
    border-radius: 3.6px;
    border-style: none;
    text-indent: 0px;
    box-shadow: none;
    width: 70%;
    height: 25%;
}

.logOutBtn{
    padding:10px;
    background-color: #b58d20;
    color:white;
    border: solid #b58d20;
    border-radius: 15%;
}

.logOutBtn:hover{
    color: #b58d20;
    background-color: white;
    cursor: pointer;
}

.delete-btn{
    padding:10px;
    margin:5px;
}

/* next 2 classes are for Favorite button */
.heart{
    color: red;
    font-size: 20px;
}